@use '@/foundations/mixins' as *;
@use '@/foundations/variables' as *;

.container {
  @include flex(row, 40px);
  max-width: $container-width;
  margin: 40px auto;
  padding-bottom: 60px;
}

.content {
  flex: 1;
  h2 {
    font-size: $font-xl;
    font-weight: $font-semibold;
    margin-bottom: 24px;
  }
}

.grid {
  @include flex-grid(20px, 24px);
}

.actions {
  display: flex;
  gap: 10px;
}

// 💡 페이지네이션 컴포넌트를 중앙에 배치하기 위한 스타일 추가
.paginationWrapper { 
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
